
body {
    margin: 0;
}
header {
    background-color: lightblue;
    width: 100%;
    height: 600px;
}
.navbar {
    height: 100px;
    
    
}
.nav-list-cont {
    position: relative;
    
    
}
.nav-list {
    position: absolute;
    top: -20px;
    list-style: none;
    right: 0;
    display: flex;
    width: 50%;
    

}
.nav-list li {
    font-size: smaller;
    padding: 5px 10px;
}
.brand {
    position: relative;
    bottom: -40px;
    left: 10%;
}
.header {
    display: flex;
    justify-content: center;
    
}
.header-menu {
    /* position: absolute;
    left: 0; */
    padding: 10px 10px;
    border: 1px solid;
    width: 30%;
    margin: 20px 5px 5px 20px;
}
.header-menu h1 {
    color: #5f60b2;
}
.header-menu p {
    font-size: smaller;
}
.header-img {
    /* position: absolute;
    right: 8%; */
    margin: 50px;
    width: auto;
}
.bottom-header {
    text-align: center;
}
.section2 {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 20px;
}
.section2-img {
    margin: 50px;
    width: auto;
}
.section2-menu {
    /* position: absolute;
    top: 0;
    right: 0; */
    width: 30%;
}
.section3 {
    text-align: center;
    background-color: #5f60b2;
    width: 600px;
    padding: 10px;
}
.section3-menu {
    color: white;
}
.section3-menus {
    display: flex;
    margin: 10%;
    padding: 5px;
    justify-content: center;
    color: white;
}
.section3-menus a {
    color: white;
}
.section4 {
    justify-content: center;
    display: flex;
    margin: 10px;
}
.section4-img {
    width: 30%;
}
.section4-text1 {
    width: 30%;
}
.section4-text2 {
    width: 30%;
}
.section5 {
    justify-content: center;
    display: flex;
    margin: 10px;
    background-color: #5f60b2;
    width: 100%;
    padding: 10px;
}
.section5-text {
    width: 30%;
}
.section5-input {
    width: 35%;
}
