
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
header {
    background-color: lightblue;
    width: 100%;
    height: 600px;
}
.navbar {
    height: 100px;
    text-align: center;
    
    
}
.nav-list-cont {
    position: relative;
    
    
    
}
.nav-list li{
    /* position: absolute; */
    display: inline-block;
    right: 0;
    padding: 10px;
    /* margin-left: ; */
    font-size: smaller;
    padding: 5px 10px;
    font-weight: bold;

    
    

}
.nav-list  {
  position: absolute;
  right: 0;   
  margin-right: 100px;
  margin-bottom: 30px;
}
.brand {
    position: relative;
    bottom: -40px;
    left: 10%;
    margin-right: 1500px;
}
.header {
    display: flex;
    justify-content: center;
    
}
.header-menu {
    /* position: absolute;
    left: 0; */
    padding: 10px 10px;
    /* border: 1px solid; */
    width: 30%;
    margin: 20px 5px 5px 20px;
}
.header-menu h1 {
    color: #5f60b2;
}
.header-menu p {
    font-size: smaller;
}
.header-img {
    /* position: absolute;
    right: 8%; */
    margin: 50px;
    width: auto;
}
.bottom-header {
    text-align: center;
}
.section2 {
    /* position: relative; */
    justify-content: center;
    /* display: flex; */
    margin: 20px;
    padding: 10px;
}
.whatsapp {
    position: fixed;
    width: 100px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 20px;
    background-color: green;
    color: white;
    

}
.whatsapp a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}
.section2-img {
    margin-left: 350px;
    width: auto;
    display: inline-block;
}
.section2-menu {
    /* position: absolute;
    top: 0;
    right: 0; */
    height: 350px;
    width: 20%;
    text-align: justify;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
}
.section2-menu h2 {
    color: #5f60b2;
}
.section3 {
    text-align: center;
    background-color: #5f60b2;
    width: 100%;
    padding: 10px;
}
.section3-menu {
    color: white;
}
.section3-menus {
    /* display: flex; */
    margin: 10px;
    padding: 5px;
    justify-content: center;
    color: white;
    font-size: small;
}
.menu {
    display: inline-block;
}
.section3-menus a {
    color: white;
}
.section4 {
    justify-content: center;
    /* display: flex; */
    margin: 10px;
    padding: 5px;
}
.section4-img {
    width: 25%;
    padding: 10px;
    display: inline-block;
    margin-left: 50px;
}
.section4-text1 {
    width: 30%;
    padding: 10px;
    text-align: justify;
    display: inline-block;
    margin-right: 30px;
}
.section4-text2 {
    width: 30%;
    padding: 10px;
    display: inline-block;
    margin-bottom: 60px;
}
.section5 {
    justify-content: center;
    /* display: flex; */
    background-color: #5f60b2;
    width: 100%;
    padding: 10px;
    color: white;
}
.section5-text {
    width: 30%;
    margin-left: 20px;
    display: inline-block;
}
.section5-input {
    margin: 50px;
    width: 35%;
    display: inline-block;
}
.section5-img {
    margin-top: 20px;
    margin-right: 0;
    width: 25%;
    display: inline-block;
}
.section6 {
    width: 100%;
    padding: 10px;
    display: inline-block;
    
}
.section6 ul {
    display: inline-block;
}
.section6-list-cont {
    margin-left: 400px;
    text-align: center;
}
.section6 li {
    list-style: none;
}
.section6-mail {
    width: 25%;
    display: inline-block;
}
.section6-li1 {
    width: 25%;
}
.section6-li1 li a{
    text-decoration: none;
}
.section6-li2 {
    width: 25%;
}
.section6-li3 {
    width: 25%;
}
footer {
    width: 100%;
    /* display: flex; */
    padding: 10px;
    border: 1px solid;
    border-color: darkgray;
}
.copyright {
    padding: 10px;
    text-align: center;
}
/* .copyright ul {
    padding: 10px;
} */
.copyright ul li {
    display: inline-block;
    padding: 10px;
}